/*type d'écriture*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Barlow", sans-serif;
  }
  
  /*header */
  .header {
    background-color: rgb(0, 181, 184);
    height: 80px;
    margin: none;
  }
  
  /*barre de navigation*/
  nav ul li {
    line-height: 1px;
    list-style-type: none;
    display: inline-block;
    padding: 10px;
  }
  /*Couleur pour les mots (À PROPOS, CONTACT, FAITS ET STATISTIQUES...)*/
  ul li a {
    color: white;
    letter-spacing: 0.1rem;
    text-decoration: none;
  }
  
  /*Les paramètres pour le petit paragraph */
  .text-box {
    margin-top: 130px;
    max-width: 600px;
    right: 20%;
    position:relative;
    left: 100px;
    font-size: 20px;
  }
  /*Le titre de la page (Toronto Raptors) */
  h1 {
    font-size: 45px;
    margin-bottom: 40px;
    color: crimson;
    font-weight: 850;
  }
  
  
  
  /*Image du joueur de basket qui dunk */
  .image {
    padding-top: 100px;
    width: 100px;
    position: absolute;
    top: 0;
    right: 30%;
  }
  
  /*Le logo */
  .logo img {
    margin-left: 200px;
  }
  /* souligne les mots de la barre de navigation quand on met la souris dessus */
  .header a:hover {
    text-decoration: underline;
  }
