#Les images#
"C:\Users\Yassine\Desktop\tp-partie-1-yassine-et-atilla-tp1\images\Lebron James basketball.jpg"
"C:\Users\Yassine\Desktop\tp-partie-1-yassine-et-atilla-tp1\images\Los angeles Lakers.avif"
"C:\Users\Yassine\Desktop\tp-partie-1-yassine-et-atilla-tp1\images\nike red arm sleeve.png"
"C:\Users\Yassine\Desktop\tp-partie-1-yassine-et-atilla-tp1\images\nike white arm sleeve.png"
"C:\Users\Yassine\Desktop\tp-partie-1-yassine-et-atilla-tp1\images\Red jordans.jpg"
"C:\Users\Yassine\Desktop\tp-partie-1-yassine-et-atilla-tp1\images\red ninja headband.jpg"
"C:\Users\Yassine\Desktop\tp-partie-1-yassine-et-atilla-tp1\images\steph curry shirt.webp"
"C:\Users\Yassine\Desktop\tp-partie-1-yassine-et-atilla-tp1\images\white Nike headband.jpg"
"C:\Users\Yassine\Desktop\tp-partie-1-yassine-et-atilla-tp1\images\Wilson NBA basketball.webp"
"C:\Users\Yassine\Desktop\tp-partie-1-yassine-et-atilla-tp1\images\Red Air Jordans.jpg"
"C:\Users\Yassine\Desktop\tp-partie-1-yassine-et-atilla-tp1\images\accessoires basket icone.jpg"
"C:\Users\Yassine\Desktop\tp-partie-1-yassine-et-atilla-tp1\images\ballon lebron james bleu et rose.jpg"
"C:\Users\Yassine\Desktop\tp-partie-1-yassine-et-atilla-tp1\images\ballon signée par Lebron James.jpg"
"C:\Users\Yassine\Desktop\tp-partie-1-yassine-et-atilla-tp1\images\Ballon wilson Dallas Mavericks.webp"
"C:\Users\Yassine\Desktop\tp-partie-1-yassine-et-atilla-tp1\images\ballon wilson minnesota Timberwolves.jpg"
"C:\Users\Yassine\Desktop\tp-partie-1-yassine-et-atilla-tp1\images\Black arm sleeve.png"
"C:\Users\Yassine\Desktop\tp-partie-1-yassine-et-atilla-tp1\images\Blue Air Jordans.jpg"
"C:\Users\Yassine\Desktop\tp-partie-1-yassine-et-atilla-tp1\images\Chandail de Lebron James.avif"
"C:\Users\Yassine\Desktop\tp-partie-1-yassine-et-atilla-tp1\images\chandail Kobe bryant.avif"
"C:\Users\Yassine\Desktop\tp-partie-1-yassine-et-atilla-tp1\images\gswhirt.avif"
"C:\Users\Yassine\Desktop\tp-partie-1-yassine-et-atilla-tp1\images\jordan-13 bleu.jpg"
"C:\Users\Yassine\Desktop\tp-partie-1-yassine-et-atilla-tp1\images\Jordans 13 black.jpg"
"C:\Users\Yassine\Desktop\tp-partie-1-yassine-et-atilla-tp1\images\Klay thomson shirt.jpg"
"C:\Users\Yassine\Desktop\tp-partie-1-yassine-et-atilla-tp1\images\lakers.avif"
